main#mainMat
    
    //-meny data
    -
        var BuffeList = 
            [ 
                {
                    color: "green",
                    name: "Grill Buffe", 
                    about: "Denna buffe består av blandane grillade rätter.",
                    have: "kykling spätt lätt grilade<br>oxfele(väljs själv hur grilad)<br>potatis gratäng<br>bea", 
                    prisePers: 220,
                    id: 1
                },
                {
                    color: "blue",
                    name: "Vego Buffe", 
                    about: "Denna buffen är perfekt för vegitarianen.",
                    have: "grönsaker<br>falafel<br>bönsalad<br>vock<br>", 
                    prisePers: 150,
                    id: 2
                },
                {
                    color: "red",
                    name: "Frukost buffe", 
                    about: "Denna buffen är perfekt för vegitarianen.",
                    have: "grönsaker<br>falafel<br>bönsalad<br>vock<br>", 
                    prisePers: 150,
                    id: 3
                }
            ];

    //buffe meny alla buffer man kan beställa
    #MenyBuffer(class="Meny")
        h1 Buffeer
            each item in BuffeList
                .menyItem
                    div(class="textDisplay " + item.color)
                        p=item.name
                    p=item.about
                    p!=item.have
                    h5=item.prisePers + "/pars"
                    label(for="antal") antal
                    input(type="number" name="antal" class="numberInput")
                    button(class=item.color onclick="addOrder(" + item.id +", 1)") add to cart
    script.
        var Buffe = new Vue({
            el: "#MenyBuffer",
            data: {
                BuffeList
            }
        });


    #MenyRatter(class="Meny")
        h1 Rätter

    #MenyDrinks(class="Meny")
        h1 Drika
